apiVersion: v1
kind: Config
clusters:
  - name: {{ slurm_cluster_name }}
    cluster:
      server: {{ server }}
      certificate-authority-data: {{ server_ca }}
users:
  - name: {{ user }}
    user:
      client-certificate-data: {{ cert }}
      client-key-data: {{ key }}
contexts:
  - name: {{ user }}@{{ slurm_cluster_name }}
    context:
      cluster: {{ slurm_cluster_name }}
      user: {{ user }}
      namespace: {{ kube_namespace }}
current-context: {{ user }}@{{ slurm_cluster_name }}
