# {{ ansible_managed }}
http:
  port: {{ topograph_port }}
  ssl: false
provider: infiniband-bm
engine: {{ "slurm" if scheduler == "slurm" else "k8s" }}
requestAggregationDelay: 2s
env:
  PDSH_RCMD_TYPE: ssh
